# SPDX-License-Identifier: Apache-2.0

# HE200 board configuration

CONFIG_ARM_ARCH_TIMER=y
CONFIG_CACHE_MANAGEMENT=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=1000000000
CONFIG_SYS_CLOCK_TICKS_PER_SEC=100
CONFIG_NUM_IRQS=256

# Disable console and shell (UART driver not available yet)
CONFIG_CONSOLE=y
CONFIG_SERIAL=n
CONFIG_UART_CONSOLE=n
CONFIG_SHELL=n
